.action-btn{
    width: 29px;
    height: 28px;
    border-radius: 9.3552px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-shrink: 0;
}
/* .choose-files {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    max-width: 155px !important;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
} */



/* Logo set */

.setting-logo {
    justify-content: center;
    height: 40px;
    width: 100%;
    margin: 30px 0px;
    text-align: left !important;
}


.choose-files div { 
    color: #fff;
    /* background: #584ED2 !important; */
    border: none;
    border-radius: 10px;
    padding: 8px 6px;
    max-width: 155px !important;
    font-size: 12px;
    font-weight: 500;
}

.file {
    position: relative !important;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    border: none;
    padding: 0;
    margin: 0;
    /* cursor: pointer; */
}

.nowrap {
    white-space: nowrap;
}


/* end logo  */


.dash-sidebar .main-logo {
    justify-content: center;
    min-height: 80px;
    max-height: 80px;
    width: 100%;
    min-width: 255px;
}
.dash-sidebar .m-header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

.dash-sidebar .main-logo a img {
    object-fit: contain;
    width: auto !important;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.custom_color_radio_button
{
    box-shadow: 1px 1px 10px 0px #00000082;
}


.lang-dropdown option {
    background-color: #fff;
    color: #000;
    text-align: center;
}




/* Star Rating */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 23px;
    color: #ccc;
}
.rate:not(:checked)>label:before {
    content: '★ ';
}
.rate>input:checked~label {
    color: #FFC700;
}
.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #DEB217;
}
.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #C59B08;
}

/* End star rating */

/**job application show **/
.text-right {
    text-align: right !important;
}
.rating-stars ul {
    list-style-type: none;
    padding: 0;
}


.rating-stars ul > li.star {
    display: inline-block;
}

.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}

.rating-stars ul > li.star > i.fa {
    font-size: 1.5em;
    color: #ccc;
}

.rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}
.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}
.static-rating .voted {
    color: #ffcc00;
}
.static-rating-sm .star {
    font-size: 0.75rem;
}
/** job application show**/

/* plan */

.price-card {
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.price-card.price-2 {
    color: #fff;
}
.price-card.price-2 .price-badge {
    color: #fff;
    background: #1C232F;
}
.price-card .p-price {
    font-size: 40px;
}
.price-card .price-badge {
    color: #fff;
    padding: 7px 24px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price-card .list-unstyled {
    display: inline-block;
}
.price-card .list-unstyled li {
    display: flex;
    align-items: center;
}
.price-card .list-unstyled li + li {
    margin-top: 8px;
}
.price-card .list-unstyled .theme-avtar {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #fff;
    margin-right: 15px;
}
/*plan */

#card-element {
    border: 1px solid #a3afbb !important;
    border-radius: 10px !important;
    padding: 10px !important;
}

/*** setting***/

.faq .accordion .accordion-item {
    border-radius: 10px;
    overflow: hidden;
    border: none;
    margin-bottom: 10px;
}

.faq .accordion .accordion-item .accordion-button {
    font-weight: 700 !important;
    padding: 1.3rem 1.25rem;
}

.faq .accordion .accordion-item .accordion-button span > i {
    font-size: 20px;
    margin-right: 8px;
}

.faq .accordion .accordion-item .accordion-button:not(.collapsed) {
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 6px 30px rgba(182, 186, 203, 0.3);
}

.faq .accordion .accordion-item .accordion-body {
    padding: 2.3rem 2.3rem 2.3rem 3rem;
}

#card-element {
    border: 1px solid #a3afbb !important;
    border-radius: 10px !important;
    padding: 10px !important;
}

.active_color {
    border: 2px solid #000 !important;
}
  
/* chat counter */
.message-counter {
    position: absolute;
    top: 3px;
    right: 4px !important;
    border-radius: 50%;
    font-size: 10px;
width: 15px !important;
    text-align: center !important;
    color: #fff !important;
}  
.dash-card{
    height: 200px !important;
}

.timesheet-card{
    height: 84px !important;
}
.emp-card{
    height: 193px !important;
}
.set-card{
     height: 300px !important;
}
.status-badge{
    width: 71px !important;

}
.status-badde3{
    width: 66px !important;

}
.ticket-card{
    height: 239px !important;

}
.status-badde4{
    width: 67px !important;
}
.status-badge5{
    width: 80px !important;

}
.status-badge6{
    width: 92px !important;
}
.status-badge7{
    width: 101px !important;

}
.em-card{
    min-height: 506px !important;
}
.job-card{
    height: 567px !important;

}
.job2-card{
    height: 509px !important;

}
.mon-card{
    height: 86px !important;
}
.card-635 {
    height: 741px !important;
}
.comp-card{
    height: 142px !important;

}
.drp-language .dropdown-toggle{
    color: #525B69;
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 0.7rem;
    margin: 0 7.5px;
    border-radius: 4px;
    position: relative;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid rgba(206, 206, 206, 0.2);
}
/* chat counter */
.choose-files {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    max-width: 155px !important;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.table.modal-table td,
.table.modal-table th {
    white-space: normal;
}

